astroid==1.4.8
backports.functools-lru-cache==1.2.1
configparser==3.5.0
isort==4.2.5
lazy-object-proxy==1.2.2
mccabe==0.5.2
py==1.4.31
pylint==1.6.4
pytest==2.9.2
pytest-pylint==0.6.0
six==1.10.0
wrapt==1.10.8
